.wrapper{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:80%;
    margin:20px 0px 25px;
    align-self: center;
}

.title{
    align-self:center;
    padding: 10px 0px 10px;
}

.item{
    width:100%;
}

.itemWrapper{
    width:100%;
}

.itemTitle{
    border-style:solid;
    width:100%;
}


@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
