.wrapper {
    padding-top: 30px;
}

.alternateItems {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.alternateItems p {
    padding: 10px 0;
}


.alternateItems div {
    display: flex;
    flex-direction:column;
    align-items: center;
}