.carouselWrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin: 10px 0px;
}

.carouselWrapper h1{
    align-self: center;
    color:darkcyan;
}

.carousel button {
    align-self:center;
    border:none;
}

.imageWrapper{
    align-self:center;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    margin: 20px;
    -webkit-user-drag: auto;
    position: relative;
    scroll-behavior: smooth;
}

.imageWrapper .left{
    position: absolute;
}

.imageWrapper .right{
    position: absolute;
}

.hideScroll{
    background-color: white;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
}

.image{
    flex: 20 0 auto;
    -webkit-overflow-scrolling: touch;

}


@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
