.contactForm{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    background-color:black;
    padding:35px;
}

.title{
    align-self:center;
    margin: 0px 0 40px 0;
    color:white;
    font-size:1.75em;
}

.contactForm form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    align-self: center;
}

.contactForm form input{
    align-self: center;
    background-color:black;
    outline-color:white;
    color:white;
    border: 1px solid white;
}

.contactForm form button{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 4px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 45px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
