.contactForm{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    background-color:black;
    padding:35px;
}

.title{
    align-self:center;
    margin: 20px 0;
    color:white;
}

.contactForm form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    align-self: center;
}

.contactForm form input{
    align-self: center;
}

.contactForm form button{
    width:25%;
    align-self:center;
}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
