.footer {
    height:50px;
    width: 100%;
    color: white;
    background-color:black;
    margin-top:20px;
}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
