.wrapper{
    display:flex;
    flex-direction: column;
    padding:25px 0 0;
}

.tabWrapper{
    display:flex;
    align-self:center;    
}

.tabContent{
    align-self:center;
}

.tab{
    border:1px solid;
    padding: 0 5px;
    border-top: none;
}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
