.menuList{
    position: absolute;
    display: flex;
    flex-direction: column; 
    right:0px;
    z-index: 1;
}

.menuList a {
    border: 1px solid darkgray;
    background-color:black;
    text-decoration: none;
    color: white;
    padding: 5px;
}