.menuList{
    position: absolute;
    display: flex;
    flex-direction: column; 
    right:0px;
    top:55px;
    z-index: 1;
}

.menuList a {
    border: 1px solid darkgray;
    background-color:black;
    text-decoration: none;
    color: white;
    padding: 5px;
}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
