.container {
    padding: 40px;
    background: #419be0;
  }
  
  .slick-slide img {
    margin: auto;
  }

  
  @media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 900px) {
 
}

@media screen and (min-width: 1200px) {
 
}

@media screen and (min-width: 1800px) {
 
}
